
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron">
    <p>If this works, sweet. It's about 6/10 on the Sweet scale.</p>
    <p>Update, deployade till GitHub. amblam. Zam.</p>
</div>

